<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h2>Shorten your long URLs here</h2>
        <form>
            <fieldset>
                <label for="url">Enter a long URL</label>
                <input type="text" id='url' class='url'/>
            </fieldset>
            <fieldset>
                <label for="alias">Alias</label>
                <input type="text" id='alias' class='alias' maxlength="6" minlength="6"/>
            </fieldset>
            <button>Submit</button>
        </form>

    </body>
</html>